header {
    text-align: center;
    margin-bottom: 20px;
}

/* align calendar to center and set width*/
#total-cal-box {
    margin: 0px auto; 
    max-width: 400px;
}

/* flex each time segment */
.time-box {
    display: flex; 
    flex-flow: row wrap;
    background: #f3f3f3;
    padding: 5px 20px 0px;
    border: 1px solid #444444
}

.time-display {
    margin-right:15px;
    width: 45px;
}

.save-div {
    margin-left: 10px;
}

.past-hour {
    background: rgb(189, 189, 189)
}

.current-hour {
    background: rgb(192, 28, 28);
}

.future-hour {
    background: rgb(16, 133, 16);
}